@using Theatrum.Web.Razor.Helpers
@model Theatrum.Models.Models.ShowModel

@{
  ViewData["Title"] = Model.Name;
  ViewData["Meta.keywords"] = new string[]
  {
    $"Купити квиток на виставу Teatrum | {Model.Name}", $"придбати білет на виставу Teatrum | {Model.Name}", $"квитки Teatrum | {Model.Name}", $"Teatrum | *дата* театр",$"Teatrum |  {Model.Name} прем’єра", $"theatrum Teatrum |  {Model.Name}"
  };
  ViewData["Meta.description"] = @Model.Description;
  Layout = "_Layout";
}

<div class="col s3">
  <div id="imgThumbnail">
    <img class="materialboxed responsive-img" src="@(Url.ActionLink("AdminPhoto","Photo")+$"/{Model.PhotoId}")" alt="Here have to be thumbnail" style="vertical-align: top">
  </div>


</div>

<div class="col s9" style="padding-left: 5%">
  <div class="card grey darken-3">
    <div class="card-content white-text">
      <span class="card-title">Show Title</span>
      <div id="table" style="padding-top: 1%; padding-bottom: 2%">
        <table>
          <tbody>
            <tr>
              <td>Назва: </td>
              <td>@Model.Name</td>
            </tr>
            <tr>
              <td>Вік: </td>
              <td>@Model.AgeLimitation+</td>
            </tr>
            <tr>
              <td>Дати: </td>
              <td>@Html.NormalizeDate(Model.StartDate) - @Html.NormalizeDate(Model.EndDate)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>@Model.Description</p>
    </div>
    <div class="card-action">
      <div>
        <div class="collection collection-no-borders">

          @if (Model.Sessions.Any())
          {
            @foreach (var s in Model.Sessions)
            {
              if (s.PlacesCount < 279)
              {
                <a asp-controller="Shows" asp-action="Tickets" asp-route-id="@s.Id" class="collection-item tooltipped collection-item-no-borders date grey darken-3" data-position="top" data-tooltip="@(279 - s.PlacesCount) вільних місць">@Html.NormalizeDate(s.StartDate) : @Html.NormalizeTime(s.StartDate)</a>
              }
            }
          }
        </div>
      </div>

    </div>
  </div>
</div>
