@model Theatrum.Models.Models.ShowModel

@{
  ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
  <h4>Show</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.TheatrumId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.TheatrumId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.StartDate)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.EndDate)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.EndDate)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.PhotoId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PhotoId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.AgeLimitation)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.AgeLimitation)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.ShowPhoto)
    </dt>
    <dd class="col-sm-10">
      @if (Model.PhotoId != null)
      {
        <img class="image-small render-photo" href="" name=@Html.Raw(@Url.Action("AdminPhoto", "Photo", new {photoId = Model.PhotoId})) />
      }
    </dd>
  </dl>
</div>
