@model Theatrum.Models.Admin.ShowFilteringAdminModel

@{
  ViewData["Title"] = "Index";
}

<h1>Shows</h1>


<div class="col s3">
  <div id="imgThumbnail">
    <img class="materialboxed responsive-img" src="testPicture.jpg" alt="Here have to be thumbnail" style="vertical-align: top">

  </div>


</div>

<div class="col s9" style="padding-left: 5%">
  <div class="card grey darken-3">
    <div class="card-content white-text">
      <span class="card-title">Show Title</span>
      <div id="table" style="padding-top: 1%; padding-bottom: 2%">
        @if (Model.Shows.Models.Count != 0)
        {
          <table class="table">
            <thead>
              <tr>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].TheatrumId)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].Name)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].Description)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].StartDate)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].EndDate)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].AgeLimitation)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.Shows.Models[0].PhotoId)
                </th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model.Shows.Models)
              {
                <tr>
                  <td>
                    @Html.DisplayFor(modelItem => item.TheatrumId)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Name)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Description)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                  </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.AgeLimitation)
                  </td>
                  <td>
                    @if (item.PhotoId != null)
                    {
                      <img class="image-small render-photo" href="" name=@Html.Raw(@Url.Action("AdminPhoto", "Photo", new {photoId = @item.PhotoId}))/>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
        @*<table>
          <tbody>
            <tr>
              <td>Age: </td>
              <td>...</td>

            </tr>
            <tr>
              <td>Year: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Original Name: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Director: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Rental period: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Language: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Genre: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Duration: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Production: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Studio: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Screenplay: </td>
              <td>...</td>
            </tr>
            <tr>
              <td>Starring: </td>
              <td>...</td>
            </tr>
          </tbody>
        </table>*@
      </div>
      <p>Descrition</p>
    </div>
    <div class="card-action">
      <!--
                             <span class="hint white-text translucent-1p">Choose date and time of the show to see if there are any free places</span>
                              <div class="row">
                                  <select class="col s6 browser-default grey darken-3 white-text" style="padding-right: 1%">
                                      <option value="" disabled selected>Choose date</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                  </select>
                                  <select class="col s6 browser-default grey darken-3 white-text">
                                      <option value="" disabled selected>Choose time</option>
                                      <option value="1">Option 1</option>
                                      <option value="2">Option 2</option>
                                      <option value="3">Option 3</option>
                                  </select>
                              </div>
                              <div class="row">
                                 <div class="col s6">
                                     <span class="white-text">Number of free places: 0 </span>
                                 </div>
                                  <button id="btnGoToPoster" class="btn waves-effect waves-light disabled" type="submit" name="action">Go buy tickets
                                      <i class="material-icons right">send</i>
                                  </button>
                              </div>
      -->
      <div>
        <div class="collection">
          <a href="#!" class="collection-item tooltipped date grey darken-3" data-position="top" data-tooltip="0 free places">FirstDate: timeOfBeginnig - timeOfEnding</a>
          <a href="#!" class="collection-item tooltipped date grey darken-3" data-position="top" data-tooltip="0 free places">SecondDate: timeOfBeginnig - timeOfEnding</a>
          <a href="#!" class="collection-item tooltipped date grey darken-3" data-position="top" data-tooltip="0 free places">ThirdDate: timeOfBeginnig - timeOfEnding</a>
        </div>
      </div>

    </div>
  </div>
</div>
