@model Theatrum.Models.Admin.ShowFilteringAdminModel

@{
  Layout = "_LayoutAdminPages";
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
@if (Model.Shows.Models.Count != 0)
{
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].TheatrumId)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].StartDate)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].EndDate)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].PhotoId)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Shows.Models[0].AgeLimitation)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Shows.Models)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.TheatrumId)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Description)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.StartDate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.EndDate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.PhotoId)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AgeLimitation)
          </td>
          <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
