@using Theatrum.Web.Razor.Helpers
@model Theatrum.Models.Admin.ShowFilteringAdminModel

@{
  ViewData["Title"] = "Home Page";
  ViewData["Meta.keywords"] = new string[]
  {
    "thatrum", "квитки в театр", "театр Київ", "придбати білети на виставу"
          };
  ViewData["Meta.description"] = "Головна сторінка Theatrum";
}
}

<h1 class="center white-text">Now</h1>

@foreach (var item in Model.Shows.Models)
{
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image col s4 l3 stretch-background" style="background-image: url('@(Url.ActionLink("AdminPhoto","Photo")+$"/{item.PhotoId}")');"></div>
      <div class="card-stacked grey darken-4">
        <div class="card-content white-text">
          <span class="card-title">@item.Name</span>
          <p class="translucent">@item.Description</p>
          <p class="translucent">@(Html.NormalizeDate(item.StartDate)) - @(Html.NormalizeDate(item.EndDate))</p>
        </div>
        <div class="card-action">
          <a asp-controller="Shows" asp-action="Details" asp-route-id="@item.Id">Ознайомитися</a>
        </div>
      </div>
    </div>
  </div>
}

@{ await Html.RenderPartialAsync("_PaginationPartial", Model.Shows.Pagination); }

