@model Theatrum.Models.Admin.TheatrFilteringAdminModel

@{
    ViewData["Title"] = "Index";
}

<h1>Theatrs</h1>


@if (Model.Theatrs.Models.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Theatrs.Models[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theatrs.Models[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theatrs.Models[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theatrs.Models[0].Address)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Theatrs.Models)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
