@using Theatrum.Web.Razor.Helpers
@model Theatrum.Models.Admin.TheatrFilteringAdminModel

@{
  ViewData["Title"] = "Index";
}

<h1>Theatrs</h1>


@foreach (var item in Model.Theatrs.Models)
{
  <div class="col s12">
    <div class="card horizontal">
      @*<div class="card-image col s4 l3 stretch-background" style="background-image: url('@(Url.ActionLink("AdminPhoto","Photo")+$"/{item.PhotoId}")');"></div>*@
      <div class="card-stacked grey darken-4">
        <div class="card-content white-text">
          <span class="card-title">@item.Name</span>
          <p class="translucent">@item.Description</p>
          <p class="translucent">@item.Address</p>
        </div>
        <div class="card-action">
          <a asp-controller="Home" asp-action="ShowsByTheater" asp-route-theaterId="@item.Id">See shows</a>
        </div>
      </div>
    </div>
  </div>
}

